.main-tab{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tab{
    border-right: 1px solid black;
}

.active{
    background-color: #BEBBBB;
    color: white;
    border-right: 1px solid black;
}